lib/
build/vc2013/
doc/build/
obj/
build/*.xml
*.manifest
*.pdb
*.suo
*.user
*.tmp
lib/*.xml
lib/*/*.xml
lib/*/*/*.xml
bin/*.xml
bin/*/*.xml
bin/*/*/*.xml
Release/*.xml
Debug/*.xml
x86/*.xml
x64/*.xml